@font-face {
  font-family: 'icon';
  src:
    url('./icon.ttf') format('truetype'),
    url('./icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-word-count:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e903";
}
.icon-nav:before {
  content: "\e904";
}
.icon-down:before {
  content: "\e905";
}
.icon-right:before {
  content: "\e906";
}
.icon-left:before {
  content: "\e907";
}
.icon-bilibili:before {
  content: "\e908";
}
.icon-github:before {
  content: "\e909";
}
.icon-hot:before {
  content: "\e90a";
}
.icon-link:before {
  content: "\e90b";
}
.icon-tip:before {
  content: "\e90c";
}
.icon-warn:before {
  content: "\e90d";
}
.icon-info:before {
  content: "\e90e";
}
.icon-danger:before {
  content: "\e90f";
}
.icon-date:before {
  content: "\e910";
}
.icon-copy:before {
  content: "\e911";
}
.icon-rss:before {
  content: "\e912";
}
.icon-updated:before {
  content: "\e913";
}
.icon-timer:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e915";
}
